extends ../layouts/mainLayout

block content
        .container-fluid.mt-2
            .row.d-flex
                .camp-container.d-flex.flex-column.justify-content-center.align-items-center.border.border-primary.rounded.py-5.col.me-1.col-ms-12(style="height: 100%;") 
                        img.img-fluid(src= camp.imageUrl)
                        h2= camp.title 
                        p= camp.description
                        p= camp.price
                        .rating-star 
                            span.fa.fa-star.checked 
                            span.fa.fa-star.checked 
                            span.fa.fa-star.checked
                            span.fa.fa-star
                            span.fa.fa-star
                        form(action="/campgrounds/" + camp._id + "?_method=DELETE",method='post',id='delete-form') 
                            .btn-group
                                a.btn.btn-outline-primary(href="/campgrounds/" + camp._id ) 
                                    .bi.bi-three-dots.me-1 Details
                                a.btn.btn-outline-secondary(href="/campgrounds/" + camp._id + "/edit") 
                                    .bi.bi-pencil-square.me-1 Edit
                                a.btn.btn-outline-danger( onclick= 'document.getElementById("delete-form").submit();') 
                                    .bi.bi-trash.me-1 Remove 
                .col.col-ms-12.d-flex.flex-column
                    form(action='/campgrounds/'+ camp._id +'/reviews', method='POST')
                        h3 Please leave a review!!
                        .rating-group 
                            label.form-label(for='rating-range') Rating
                            input.form-range(id='rating-range',type='range',min=0, max=5,name='rating',required)
                            p= '4/5'
                        .input-group
                            span.input-group-text Review
                            textarea.form-control(arial-label="review-textarea",name='body' required)
                            button.btn.btn-primary Summit
                    div.mt-2
                        if camp.reviews.length
                            .list-reviews(style="width: 100%; max-width:500px;")
                                each item in camp.reviews 
                                    .list-group-item.d-flex.flex-row.justify-content-between.align-items-center.rounded
                                        .review.flex-grow-1
                                            .fw-bold review
                                            .body= item.body
                                            .create-at= item.create_at.split(' ').slice(0,5).join(' ')
                                        span.badge.bg-primary.rounded-pill= item.rating
                                        .btn-container.d-flex.flex-column.m-2 
                                            .btn.btn-danger delete 
                                            .btn.btn-primary reply
                        else
                                h5 Have no review yet!!!
                                        
                        