extends ../layouts/boilertemplate

block links
    link(rel='stylesheet',type='text/css',href='../CSS/star.css')

block content
        .container-fluid.mt-2
            .row
                .camp-container.d-flex.flex-column.justify-content-center.align-items-center.border.border-primary.rounded.py-5.col-md-4.col.me-1(style="height: 100%; position:")
                    if(camp.image.length)
                        #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                            .carousel-inner
                                each img in camp.image 
                                    if img.url === camp.image[0].url
                                        .carousel-item.active 
                                            img.img-fluid.d-block.w-100(src= img.url,style='max-height: 400px;height: auto')
                                    else
                                        .carousel-item 
                                            img.img-fluid.d-block.w-100(src= img.url,style='max-height: 400px;')
                            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                    h2= camp.title 
                    p= camp.location
                    p= camp.description
                    p= '$ ' + camp.price + ' /night'
                    if(camp.author)
                        p= 'posted by ' + camp.author.username
                    p.starability-result(data-rating= camp.averageRate )= 'Rated: ' + camp.averageRate +' star'
                    if(camp.author && camp.author.equals(currentUser))    
                        form(action="/campgrounds/" + camp._id + "?_method=DELETE",method='post',id='delete-form') 
                            .btn-group
                                a.btn.btn-outline-secondary(href="/campgrounds/" + camp._id + "/edit") 
                                    .bi.bi-pencil-square.me-1 Edit
                                a.btn.btn-outline-danger( onclick= 'document.getElementById("delete-form").submit();') 
                                    .bi.bi-trash.me-1 Remove 
                .col-md-7.d-flex.flex-column.flex-grow-1
                    #map.rounded.mb-3(style='width: 100%; height: 300px;z-index: 1;')
                    form(action='/campgrounds/'+ camp._id +'/reviews', method='POST')
                        h3 Please leave a review!!
                        .rating-group.mb-3
                            fieldset.starability-heart
                                input#no-rate.input-no-rate(type='radio' name='rating' value='0' checked='' aria-label='No rating.')
                                input#first-rate1(type='radio' name='rating' value='1')
                                label(for='first-rate1' title='Terrible') 1 star
                                input#first-rate2(type='radio' name='rating' value='2')
                                label(for='first-rate2' title='Not good') 2 stars
                                input#first-rate3(type='radio' name='rating' value='3')
                                label(for='first-rate3' title='Average') 3 stars
                                input#first-rate4(type='radio' name='rating' value='4')
                                label(for='first-rate4' title='Very good') 4 stars
                                input#first-rate5(type='radio' name='rating' value='5')
                                label(for='first-rate5' title='Amazing') 5 stars
                        .input-group
                            span.input-group-text Review
                            textarea.form-control(arial-label="review-textarea",name='body' required)
                            button.btn.btn-primary Summit
                    div.mt-2
                        if camp.reviews.length
                            .list-reviews(style="width: 100%; max-width:500px;")
                                each item in camp.reviews 
                                    .list-group-item.d-flex.flex-row.justify-content-between.align-items-center.rounded.m-0
                                        .review.text-wrap
                                            .fw-bold review
                                            p.starability-result(data-rating= item.rating)= 'Rated: ' + item.rating +' star' 
                                            .body(style='overflow-wrap: break-word;width: 100%')= item.body
                                            .create-at= item.create_at.split(' ').slice(0,5).join(' ')

                                        .btn-container.d-flex.flex-column.m-2
                                            form(action='/campgrounds/' + camp._id + '/reviews/' + item._id+ '?_method=DELETE',method='post')
                                                button.btn.btn-danger delete 
                                            .btn.btn-primary reply
                        else
                                h5 Have no review yet!!!

        script.
            const currentCamp = !{JSON.stringify(camp)}
            console.log(currentCamp)
        script(src="/JS/showDetailsMap.js")                                
                        