html(lang="en")
    include ./commonTemplate/htmlHeader.pug
    body 
        div.container-fluid
            h1 Users 
            a(class='btn btn-primary', href='/users/new', role="button") New
            table(class='table')
                thead 
                    tr 
                        th(scope='col') No.
                        th(scope='col') Name
                        th(scope='col') Age
                        th(scope='col') Gender
                        th(scope='col') City
                        th(scope='col') Email
                        th(scope='col') option
                tbody 
                each user in users
                    tr 
                        th(scope='row')= users.indexOf(user) + 1
                        td= user.name 
                        td= user.age
                        td= user.gender
                        th= user.city
                        td= user.email
                        td
                            a(class='btn btn-primary', href='/users/'+ user.id + "/edit") details
                            a(class='btn btn-danger', href='/users/'+ user.id) remove

        
                
    

