html(lang="en")
    include ./commonTemplate/htmlHeader.pug
    body 
        div
            p= user.name 
            p= user.age 
            p= user.gender
            p= user.email 
            p= user.city 